{% if page.footer == NULL or page.footer == "no"  %}
    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">

        <div id="footer">

        <div class="row" style="max-width: 70%">

            <div class="medium-4 columns" style="width: 60%">


                <h5 style="margin-top: 0em">
                    <span class="bg4 w8 ds1 bdr5 m13" style="vertical-align: middle">
                        <img src="{{ site.urlimg }}/{{ site.location_icon}}" style="width: 22px; height: 28px; margin: 5px 0 0 9px"></span>
                    <span>{{ site.data.language.info_website }}</span>
                </h5>

                <div style="padding-left: 15%"><h7 class="shadow-black">
                    {{site.data.language.address_website1}}
                </h7>
                </div>
                <div style="padding-left: 15%"><h7 class="shadow-black">
                    {{site.data.language.address_website2}}
                </h7>
                </div>
                <div style="padding-left: 15%"><h7 class="shadow-black">
                    {{site.data.language.address_website3}}
                </h7>
                </div>
                <div style="padding-left: 15%"><h7 class="shadow-black">
                    {{site.data.language.address_website4}}
                </h7>
                </div>
            </div>

            <div class="medium-4 columns">

                <div><h7 >
                    <span class="bg4 w8 ds1 bdr5 m13" style="vertical-align: middle"><span class="sp eamil2 ds"></span></span>
                    <span>mahamayapaints@yahoo.co.in</span>
                </h7>
                </div>

                <div><h7 class="shadow-black">
                    &nbsp;
                </h7>
                </div>
                <div><h7 class="shadow-black">
                    <span class="bg4 w8 ds1 bdr5 m13" style="vertical-align: middle"><span class="sp call2 ds m12"></span></span>
                    +91 1232-225362, 227870
                </h7>
                </div>
                <div style="padding-left: 16%"><h7 class="shadow-black">
                    +91 8941000571
                </h7>
                </div>
            </div>

        </div>
      </div>
    </footer>
{% endif %}
